@media screen and (max-width: 990px) {

  #home #stats .container .stat-boxes {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {

  #services {
    #service-header {
      ul {
        flex-wrap: wrap;

        li {
          display: block;
        }
      }
    }
  }
}